body {
        background-color: #6600ff;
        font-size: 20px;
}

label {
	color: white;
}

#header h1{
        font-size: 44px;
        font-weight: bold;
        color: white;
        border-bottom: 1px solid white;
}

#app {

}

#app .articleName{
  color: white;
}
#app .articleName:hover{
  background-color: black;
}

#app .historyName{
    display: inline-block;
}
#app a{
    color: white;
}
