body {
        background-color: #6600ff;
}

#header {
        font-size: 44px;
        font-weight: bold;
        color: white;
        border-bottom: 1px solid white;
}

#startgame {
        padding: 150px 0;
        border-top: 200px;
}

#startText {
        color: white;
        font-size: 30px;
        text-align: center;
}

#startButton {
        text-align: center;
}