<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>WikiLinks</title>
  <link rel="stylesheet" href="styles/main.css" type="text/css" />
  <script src="react.jsx" type = "text/babel"></script>
  
</head>

<body>
        <div id="logo"></div>
        <div w3-include-html="startingscreen.html"></div>
</body>
</html>