<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>WikiLinks</title>
  <link rel="stylesheet" href="styles/main.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
<script src="http://www.w3schools.com/lib/w3data.js"></script>

  
</head>

<body>
        <p><div id="header"></div>
        <!-- <p><div id="top-bar"></div> -->


        <!--- comment back in along with render to get button to display -->
        <p><div id="startgame"></div></p>
        <!-- <p><div id="getwords"></div> -->


        <!-- <div w3-include-html="startingscreen.html"></div> -->
        <!-- <div w3-include-html="setgamescreen.html"></div> -->
        <!-- <div w3-include-html="playscreen.html"></div> -->
        <!-- <div w3-include-html="finalscreen.html"></div> -->
        <!-- // <script>w3IncludeHTML()</script> -->

        <script type = "text/babel" src="react_header.jsx" ></script>

</body>
</html> 