<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WikiLinks</title>
  <link rel="stylesheet" href="styles/main.css" type="text/css" />
  <script src="react.js" type = "text/babel"></script>
  
</head>

<body> 
        <div id="logo"></div>
</body>
</html>