html, body {
  width: 100%;
  height: 100%;
  color: white;
}

body {
  background-color: #6600ff;
  font-size: 20px;
}

input {
  color: black;
}

label {
  margin-right: .4em;
}

#header h1 {
  cursor: pointer;
}

.container-fluid {
  max-width: 1080px;
}

#header h1{
  font-size: 44px;
  font-weight: bold;
  border-bottom: 1px solid white;
}

#app a {
  color: white;
  cursor: pointer;
}

.btn {
  margin: .2em .5em;
}

/* Start new game styles */
#newGameContainer {
  text-align: center;
  clear: both;
  overflow: auto;
}

#startBtn {
  float: right;
  clear: right;
}

.historyGame {
  margin-left: 4em;
  padding: 1.5em 1em;
  border-bottom: 2px solid gray;
  clear: both;
  overflow: auto;
}

.buttonContainer {
  float: right;
  clear: right;
}

.historyGame:last-child { 
  border: none
}

.historyGame .historyContainer {
  display: inline-block;
}

.gameParam {
  padding: 1em;
  margin: .5em;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 25px;
}
/* End new game styles */

/* In game styles */
.rightArrow {
  margin: 0 .4em;
  vertical-align: middle;
}

#search {
  margin: .8em .4em .6em .4em;
}
/* end In game styles */

/*Post game styles*/
#PostGame {
  margin-bottom: .5em;
}

#GameData, #PostGame {
  text-align: center
}

#name-group {
  display: inline-block;
}

#ajax-status {
  padding: 15px;
  border: none;
}

#share-popup {
  color: black;
}

#chart {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

/* end Post game styles*/

/* Circular timer */
#CircularCountdownTimer {
  position:relative;
  margin-top: 3em;
}

#CircularCountdownTimer h2 {
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 0;
  font-size: 60px;
  top: 20px;
  width: 100%;
  animation: countdownTimerAnimation 4s linear 1s;
}

#CircularCountdownTimer svg {
  display: block;
  margin: 0 auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#CircularCountdownTimer circle {
  stroke-width: 12;
  fill: none;
}

#circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s cubic-bezier(.9,0,.1,1), stroke 1s linear;
  animation: countdownTimerAnimation 4s linear 1s;
}

@keyframes countdownTimerAnimation {
    0% {stroke: #fc4444; color: #fc4444;}
    50% {stroke: #fcf244; color: #fcf244;}
    100% {stroke: #6fdb6f; color: #6fdb6f;}
}

/* End Circular timer */

