html, body {
  width: 100%;
  height: 100%;
  color: white;
}

body {
        background-color: #6600ff;
        font-size: 20px;
}

input {
  color: black;
}

#header h1{
  font-size: 44px;
  font-weight: bold;
  border-bottom: 1px solid white;
}

#app a {
    color: white;
    cursor: pointer;
}

.endbtn {
  background-color: #96e874;
}

.endbtn:hover {
  background-color: #D1E8C8;
}

/* Circular timer  */
#CircularCountdownTimer {
  position:relative;
  margin-top: 3em;
}

#CircularCountdownTimer h2 {
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 0;
  font-size: 60px;
  top: 20px;
  width: 100%;
  animation: countdownTimerAnimation 4s linear 1s;
}

#CircularCountdownTimer svg {
  display: block;
  margin: 0 auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#CircularCountdownTimer circle {
  stroke-width: 12;
  fill: none;
}

#circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s cubic-bezier(.9,0,.1,1), stroke 1s linear;
  animation: countdownTimerAnimation 4s linear 1s;
}

@keyframes countdownTimerAnimation {
    0% {stroke: #fc4444; color: #fc4444;}
    50% {stroke: #fcf244; color: #fcf244;}
    100% {stroke: #6fdb6f; color: #6fdb6f;}
}

